.message {
}


.imageAndText {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;

}

.imageAndText img {
    width: 48px;
    height: 48px;
}

.text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: #0066CC;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 15px;
    padding: 7px 15px;
    margin-right: 10px;

}

.text:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -16px;
    width: 0;
    height: 0;
    border-top: 21px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 30px solid  #0066CC;
}

.name {
    font-family: 'Montserrat', serif;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 3px;
}

.messageText {
    font-family: 'Montserrat', serif;
    font-size: 16px;
    color: #FFFFFF;
}

.time {
    text-align: end;
    margin: 10px 13px 0 0;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 10px;
}